@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$black-1: #291507;
$black-2: #050709;
$gray-1: #e3e1dc;
$white: #ffffff;

$color-1: rgba(41, 21, 7, 0.6);
$color-2: rgba(151, 151, 151, 0.1);

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 96px;
    padding-right: 96px;
}
.logo {
    color: $black-1;
    font-family: 'Mystery Quest', cursive;
    font-size: 24px;
    font-weight: 400;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    img {
        height: 40px;
        margin-left: 8px;
        transform: rotateY(180deg);
        margin-bottom: 12px;
    }
}

footer {
    background-color: $black-1;
    color: $white;
    border-radius: 42px 42px 0 0;
    padding: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        filter: grayscale(1) invert(1);
    }
    span {
        font-weight: 700;
        text-decoration: underline;
    }
}

.img-card {
    img {
        width: 220px;
        height: 220px;
        border-radius: 24px;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-top: 20px;
        color: $black-1;
    }
}

.btn-text {
    background-color: transparent;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: $color-1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &:hover {
        cursor: pointer;
    }
}

.input-group {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    > input {
        width: 100%;
        border-radius: 59px;
        padding: 24px 29px;
        border: 1px solid transparent;
        color: #333333;
        font-size: 18px;
        &:focus {
            outline: none !important;
            border: 1px solid transparent;
        }
    }
    > .end-icon {
        position: absolute;
        top: 50%;
        right: 29px;
        transform: translateY(-50%);
        color: $black-1;
        > :only-child {
            width: 18px;
            height: 18px;
        }
    }
}

.col-6 {
    width: 50%;
}
.end-icon > :only-child {
    width: 1rem;
    height: 1rem;
}

.end-icon {
    padding-left: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing,
.why-should {
    margin-top: 30px;
    .landing-1 {
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url(https://dev-challenges-catwiki.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FHeroImagesm.6c62aad8.png&w=1920&q=75);
        background-color: $black-2;
        border-radius: 42px 42px 0 0;
        padding: 107px;
        color: $white;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        .logo {
            font-size: 64px;
            filter: grayscale(1) invert(1);
            > img {
                height: 65px;
            }
            ~ p {
                display: inline-block;
                margin-top: 11px;
                margin-bottom: 52px;
            }
        }
        img {
            width: 100%;
        }
    }
    .landing-2 {
        border-radius: 0 0 42px 42px;
        background-color: $gray-1;
        display: flex;
        flex-wrap: wrap;
        padding: 107px;
        justify-content: space-between;
        h1,
        button {
            flex: 1 0 50%;
            margin-bottom: 46px;
        }
        button {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
        }
    }
}

h1 {
    margin: 0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 59px;
    color: $black-1;
}

.why-should {
    padding: 107px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    p {
        margin-top: 41px;
        margin-bottom: 44px;
    }
}

.img-demo-1,
.img-demo-2,
.img-demo-3 {
    border-radius: 24px;
}

.row {
    width: 100%;
    display: flex;
}

.img-demo-1 {
    width: 273.52px;
    height: 167.08px;
}

.img-demo-2 {
    width: 195.49px;
    height: 293.24px;
    margin-top: 27px;
}

.img-demo-3 {
    width: 238.47px;
    height: 385.87px;
}

.f-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cat-info {
    font-family: 'Montserrat', sans-serif;
    color: $black-1;
    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        padding-top: 32px;
        > span {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }
    }
    > :nth-child(2) {
        padding-top: 25px;
    }
}
.cat-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 180px;
    > h1 {
        flex: 1 0 100%;
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .photo-grid {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(4, 1fr);
        gap: 46px;
    }
}

.search {
    .dataResult {
        position: absolute;
        max-height: 300px;
        width: 450px;
        overflow: hidden;
        overflow-y: auto;
        margin-top: 17px;
        background-color: $white;
        border-radius: 24px;
        padding: 12px;
        display: grid;
        > a {
            text-decoration: none;
            color: $black-2;
            padding: 25px 14px;
            &:hover {
                background-color: $color-2;
                border-radius: 12px;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.point-group {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    .rec-group {
        display: inline-flex;
        .rec-point {
            margin-left: 8px;
            width: 60px;
            height: 12px;
            border-radius: 8px;
        }
        .rec-point-true {
            background: #544439;
        }
        .rec-point-false {
            background: #e0e0e0;
        }
    }
}