@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.button{
  padding:10px 30px;
  background: #E0E0E0;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border-radius: 6px;
  border: 0px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #3F3F3F; 
}
.button:hover,.button:focus{
  background:#AEAEAE;
  border: 0px;
}
.button.outline{ 
  background-color: white;
  box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.2);
  color:#3D5AFE;
  border: 1px solid #3D5AFE;
  border-radius: 6px;
}
.button.outline:hover,.button.outline:focus{
  background: rgba(41, 98, 255, 0.1);
  border: 1px solid #3D5AFE;
}

.button.text{
  box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.2);
  background:transparent;
  color:#3D5AFE;
}
.button.text:hover,.button.text:focus{
  background: rgba(41, 98, 255, 0.1);
  border-radius: 6px;
}
.button:disabled{
  color: #9E9E9E;
  background: #E0E0E0;
  border-radius: 6px;
}
.button.text:disabled{
  background:transparent;
  color: #9E9E9E;
}

.button.iconButton{
  background:#3D5AFE;
  color:white;
}
