@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5%;

}

input[type='text'] {
  border-radius: 8px;
  padding: 20px 70px;
  border: 1px solid #455a64;
  color: #333333;
  text-align: left;
  justify-content: center;
  padding-left: 20px;

  &:hover {
    border: 1px solid #333333;
  }

  &:focus {
    outline: none !important;
    border: 1px solid #BDBDBD;
  }

  &::placeholder {
    color: #828282;
  }
}

.default {
  color: #333333;

  &:focus {
    color: #2962FF;
  }
}

.btn {
  $text-light: #ffffff;
  $text-dark: #3f3f3f;

  $box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);

  $disable-bg-color: #E0E0E0;
  $disable-text-color: #9E9E9E;

  &-icon-danger {
    background-color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-size: 20px;
    padding: 0px !important;
    color: #bdbdbd;

    &:hover {
      color: red;
    }
  }



  @mixin disabled() {
    cursor: not-allowed;
  }

  &-default {
    background-color: #E0E0E0;
    border-radius: 6px;
    border: 0px;

    &:hover,
    &:focus {
      background: #AEAEAE;
      border: 0px;
      border-radius: 6px;
    }
  }

  &-outline {
    background-color: white;
    box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.2);
    color: #3D5AFE;
    border: 1px solid #3D5AFE;
    border-radius: 6px;

    &:hover,
    &:focus {
      background: rgba(41, 98, 255, 0.1);
      border: 1px solid #3D5AFE;
    }
  }

  &-text {
    box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.2);
    background: transparent;
    color: #333333;
    border: none;
    align-items: flex;
    vertical-align: middle;
    justify-content: center;

    &:hover,
    &:focus {
      color: #3D5AFE;
      border-radius: 6px;
    }
  }

  &-disableShadow {
    color: #ffffff;
    background: #3D5AFE;
    box-shadow: 0px 0px 0px;
    border-radius: 6px;
    border: none;
  }

  &-disabled {
    @include disabled();
    border: none;
    background-color: $disable-bg-color;
    color: $disable-text-color;
  }

  &-iconButton {
    background: #3D5AFE;
    color: white;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    padding: 10px 20px;
  }


  &-sizeButton {
    background: #3D5AFE;
    color: white;
    border: none;
    border-radius: 6px;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &-sm {
    padding: 1.1rem;
    height: 30px;
    justify-content: center;
    vertical-align: middle;
    display: flex;
  }

  &-md {
    padding: 1.4rem;
    height: 37px;
    justify-content: center;
    vertical-align: middle;
    display: flex;
  }

  &-lg {
    padding: 2rem 40px;
    height: 45px;
    justify-content: center;
    vertical-align: middle;
    display: flex;
  }

  &-primary {
    background-color: #2F80ED;
    box-shadow: 0px 2px 3px rgba(127, 177, 243, 0.4);
    border-radius: 12px;
    align-items: center;
    border: 1px solid transparent;
    display: flex;
    color: $text-light;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    vertical-align: middle;

    &:hover,
    &:focus {
      background: #0039CB;
      border: 1px solid transparent;
      border-radius: 12px;
    }
  }

  &-secondary {
    background-color: #455a64;
    border-radius: 6px;
    border: 0px;
    color: $text-light;

    &:hover,
    &:focus {
      background: #1C313A;
      border: 0px;
      border-radius: 6px;
    }
  }


  &-danger {
    background-color: #EB5757;
    border-radius: 4px;
    border: 0px;
    color: $text-light;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding-left: 0px;


    &:hover,
    &:focus {
      background: #EB5757;
      border: 0px;
      border-radius: 4px;
    }
  }
}

.endIcon {
  padding-right: 0px;
  display: flex-end;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  > :only-child {
    width: 1.5rem;
    height: 1rem;
  }
}

.quote-card {
  width: 50%;
  margin: 0px 20%;
  padding-top: 48px;

  >.author-header {
    font-size: 30px;
    font-weight: 700;
    color: black;
    padding-bottom: 10%;
  }

  &-body {
    >.quote-list {
      display: inline-flex;
      flex-direction: row;
      width: 100%;

      >.quote-content {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 100px;
        padding: 0px 30px;
        height: auto;
        box-shadow: -5px 0 0 orange;

        &::before {
          content: open-quote;
        }

        &::after {
          content: close-quote;
        }
      }
    }

    >.btn-quote {
      width: 100%;
      border: none;
      background-color: transparent;

      >.btn-group {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        padding: 30px 20px;

        >.desc-group {
          width: 100%;
          display: inline-flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-start;

          >.quote-author {
            font-size: 24px;
            color: black;
          }

          >.quote-genre {
            font-size: 13px;
            color: gray;
          }
        }

        >.btn-icon {
          display: inline-flex;
          align-items: center;
          color: white;

        }

        &:hover {
          cursor: pointer;
          background-color: black;

          >.desc-group>.quote-author {
            color: white;
          }

          >.btn-group {
            display: inline-flex;
          }
        }
      }
    }
  }
}